body{
    background-color:rgb(241, 179, 179);
    font-family: verdana;
    max-width: 1090px;
    margin-left: 400px;
}
label{
    width: 100px;
    text-align: right;
    display: inline-block;
    padding-right: 5px;
}
span{
    color:red;
}
.row{
    margin:5px;
}
#Title{
    margin-left: -350px;
}
.indice{
    margin: 15px 0px 5px 100px;
    padding: 15px;
    border:solid black 3px;
    border-radius: 5px;
    float: left;
    width: 300px;
    background: #FFFAFA;
    background:rgb(231, 201, 201);
    margin-left: -350px;
}
.tags_marks{
    background-color: aliceblue;
}
#title_pensamento_computacional{
    margin-left: 300px;
   font-size: 30px;
}
.img_pensamento_computacional{
    margin-left:-3px;
    width: 100%;
    height: 500px;
    border:solid rgb(219, 6, 155) 3px;
}
#title_raciocinio_logico{
    margin-left: 400px;
    font-size: 30px;
}
.img_raciocinio_logico{
    margin-left: 150px;
    width: 800px;
    height: 800px;
    border:solid rgb(219, 6, 155) 3px;
}
#title_conceito_client{
    margin-left: 500px;
    margin-left: 400px;
    font-size: 30px;
}
#title_navegadores{
    margin-left: 500px;
    margin-left: 400px;
    font-size: 30px;
}
#title_cores{
    margin-left: 400px;
    font-size: 30px;
}
#title_fieldset{
    margin-left: 400px;
    font-size: 30px; 
}
#title_tag_font{
    margin-left: 400px;
    font-size: 30px; 
}
#title_tag_embed{
    margin-left: 400px;
    font-size: 30px; 
}
#title_tag_video{
    margin-left: 400px;
    font-size: 30px; 
}
#title_tag_iframe{
    margin-left: 400px;
    font-size: 30px; 
}
#title_select_tipos{
    margin-left: 400px;
    font-size: 30px; 
}
#title_textarea{
    margin-left: 400px;
    font-size: 30px; 
}
#title_tag_button{
    margin-left: 400px;
    font-size: 30px;
}
#title_checkbox_radio{
    margin-left: 400px;
    font-size: 30px;
}
#title_tag_input{
    margin-left: 400px;
    font-size: 30px;
}
.post_conteudos{
    background:rgb(231, 201, 201);
    padding: 15px;
    border:solid black 3px;
    margin-bottom: 15px ;
    border-radius: 5px;
    margin-top: 35px;
}
