body{
    background-color:rgb(241, 179, 179);
    font-family: verdana;
    max-width: 1400px;
    margin-left: 80px;
}
.post_grandesNomes{
    background:rgb(231, 201, 201);
    padding: 15px;
    border:solid black 3px;
    margin-bottom: 15px ;
    border-radius: 5px;
}
.tags_marks{
    background-color: aliceblue;
}
.post_pensamento_computacional{
    background:rgb(231, 201, 201);
    padding: 15px;
    border:solid black 3px;
    margin-bottom: 15px ;
    border-radius: 5px;
}
#title_pensamento_computacional{
    margin-left: 400px;
 font-size: 30px;
}
.img_pensamento_computacional{
    margin-left: 5px;
    width: 100%;
    height: 500px;
    border:solid rgb(219, 6, 155) 3px;
}
.post_raciocinio_logico{
    background:rgb(231, 201, 201);
    padding: 15px;
    border:solid black 3px;
    margin-bottom: 15px ;
    border-radius: 5px;
}
#title_raciocinio_logico{
    margin-left: 500px;
    font-size: 30px;
}
.img_raciocinio_logico{
    margin-left: 70px;
    width: 90%;
    height: 800px;
    border:solid rgb(219, 6, 155) 3px;
}
.post_Client{
    background:rgb(231, 201, 201);
    padding: 15px;
    border:solid black 3px;
    margin-bottom: 15px ;
    border-radius: 5px;
}
#title_conceito_client{
    margin-left: 500px;
    font-size: 30px;
}
#title_navegadores{
    margin-left: 500px;
    font-size: 30px;
}